@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-brown: #7B4B3A;
  --color-brown-dark: #4B2E2B;
  --color-khaki: #C3B091;
  --color-khaki-light: #E6D9C6;
  --color-cream: #F5F0E6;
  --color-rose: #B76E79;
}